<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="style.css">
    <title>Tip Calculator app</title>

    <style>
        .attribution {
            font-size: 11px;
            text-align: center;
        }
        
        .attribution a {
            color: hsl(228, 45%, 44%);
        }
    </style>
</head>

<body>
    <form>
        <div class="section-1">
            <p class="header">Bill</p>
            <div class="screen">
                <input type="text" id="bill-display" onkeyup="calc() ">
                <p id="error-message"></p>
            </div>
            <div class="select-tips">
                <p>Select Tip %</p>
                <div class="Tips">
                    <span id="FivePer">5%</span>
                    <span id="TenPer">10%</span>
                    <span id="FifteenPer">15%</span>
                    <span id="TwentyFivePer"> 25%</span>
                    <span id="FifteenPer"> 50%</span>
                    <input id="custom" placeholder="Custom">
                </div>
            </div>

            <p class="header-2 ">Number of People</p>
            <div class="screen-2 ">
                <input type="text" id="number-displays" onkeyup="calc() ">
                <p id="error-messages"></p>
            </div>
        </div>
        <div class="display ">
            <div class="Tip ">
                <div class="Tip-display">
                    <span class="tip-text">Tip Amount</span>
                    <span class="tip-text">/ person</span>
                </div>
                <div id="Tip-Amt-display ">
                    <span id=result-Amount>$ <span id="result-Amounts">0.00</span></span>
                </div>
            </div>

            <div class="Tip ">
                <div class="Tip-display ">
                    <span class="tip-text">Total</span>
                    <span class="tip-text">/ person</span>
                </div>
                <div id="Tip-Amt-display ">
                    <span id="result">$ <span id="results" >0.00</span></span>
                </div>
            </div>
            <input type="Reset" id="reset">
        </div>
    </form>

    <!-- <div class="attribution ">
        Challenge by <a href=" " target="_blank ">Frontend Mentor</a>. Coded by <a href="# ">Williams Godsfavoour</a>.
    </div> -->
    <script src="script.js"></script>
</body>

</html>